<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePageSecondActivity"></activity>
        <activity
            android:name=".HomePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetFixture"
            android:label="Fixture List" />
        <activity
            android:name=".UploadFixture"
            android:label="Fill Fixture Details"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UploadResult"
            android:label="Fill Result Details" />
        <activity android:name=".Contact" />
        <activity android:name=".UploadNotice" />
        <activity android:name=".Notice" />
        <activity android:name=".RaiseQuery" />
        <activity android:name=".MyAccount" />
        <activity android:name=".Forgotpass" />
        <activity
            android:name=".ParticipationForm"
            android:label="Fill Participation Form" />
        <activity
            android:name=".Splash"
            android:theme="@style/hmStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Select" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".CreateEvent1"
            android:label="Fill Event Creation Form" />
        <activity
            android:name=".CreateEvent2"
            android:label="Fill Event Creation Form" />
        <activity
            android:name=".ParticipantsDetail"
            android:label="Fill Participant Detail" />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>